CHANGELOG.md
node_modules
bin
dist
__fixtures__
pnpm-lock.yaml

packages/examples/vite-config-build-out-dir-example/custom-out-dir
packages/examples/create-react-app-example/build
packages/examples/create-next-app-example/.next
packages/examples/create-nuxt-app-example/.nuxt
packages/examples/process-env-example/.next
packages/examples/nuxt-bridge-example/.output
packages/examples/nuxt-bridge-example/.nuxt
